RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.eplnewshub\.com$ [NC]
RewriteRule ^https//www\.eplnewshub\.com(.*)$ https://eplnewshub.com/$1 [R=301,L]
RewriteEngine On

# Redirect malformed URLs to the correct one
RewriteCond %{REQUEST_URI} ^/https//www\.eplnewshub\.com [NC]
RewriteRule ^(.*)$ https://eplnewshub.com/ [R=301,L]
