/* General Styles */
body, html {
    font-family: Georgia,Times,Times New Roman,serif;
    background-color: #ffffff; /* White background for the main content */
    color: #000000; /* Black text for the main content */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Header styles */
.header {
    width: 100%;
    height: 55px;
    max-width: 1400px;
    text-align: center;
    margin: auto;
    padding: 5px 20px 5px 20px;
    background-color: #262627; /* Black background for the header */
    color: white; /* White text for the header test */
}

/* Top navigation styles */
.top-nav {
    max-width: 1400px;
    width:100%;
    height:40px;
    margin: auto;
    display:flex;
    background-color: #262627;
    justify-content: center;
    padding: 0px 20px 0px 20px;
    color: white; /* White text for the nav */
}

.top-nav ul {
    list-style-type: none;
    margin: 0;
    display:flex;
    padding: 0;
}

.top-nav ul li {
    margin: 0 15px;
}

.top-nav ul li a {
    color: #ffffff; /* white text for the nav links */
    text-decoration: none;
    padding: 10px;
    display: block;
    border-bottom: 2px solid transparent; /* Light blue line underneath */
    transition: color 0.3s, border-bottom 0.3s;
}

.top-nav ul li a:hover {
    color: #999999; /* Slightly darker light blue on hover */
}

.container {
    max-width: 1400px;
    width: 100%;
    margin:auto;
    padding: 0px;
    display: flex;
    object-fit: contain;
}

/* Main Content Styles */
.main {
    flex: 1;
    float: left;
    max-width:1100px;
    width: 100%;
    padding: 10px;
    background-color: #ffffff; /* White background for the main content */
    color: #000000; /* Black text for the main content */
    font-size: 15px;
}

.main_headline {
    flex: 1;
    float: left;
    max-width:500px;
    width: 100%;
    padding: 5px;
    background-color: #ffffff; /* White background for the main content */
    color: #000000; /* Black text for the main content */
    font-size: 15px;
}

.main_subheadline {
    flex: 1;
    float: left;
    max-width:500px;
    width: 100%;
    padding: 5px;
    background-color: #ffffff; /* White background for the main content */
    color: #000000; /* Black text for the main content */
    font-size: 15px;
}

headlinelink a {
    color: #000000;
    transition: color 0.3s;
}

headlinelink a:visited {
    font-size:10px;
    color: #000000;
}
headlinelink a:hover {
    color: #000000; /* Lighter text on hover */
}

headlinelink h1 {
    font-size: 18px;
}
    
/* Sidebar styles */
.sidebar {
    flex: 1;
    float: right;
    max-width:300px;
    width: 100%;
    padding: 10px;
    font-size: 15px;
}

.sidebar h2 {
    font-size: 15px;
}

.sidebar a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-top: 2px;
}

.sidebar a:hover {
    color: #999999; /* Lighter text on hover */
}

.sidebar div {
white-space: nowrap;
}

/* Footer Styles */
.footer {
    max-width: 1400px;
    width: 100%;
    margin:auto;
    padding: 20px;
    background-color: #262627; /* Black background for the footer */
    color: white; /* White text for the footer */
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer p {
    margin:auto;
    color: white; /* White text for footer paragraphs */
}

.footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.footer nav ul li {
    margin: 0 10px;
}

.footer nav ul li a {
    color: white; /* White text for footer links */
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer nav ul li a:hover {
    color: #999999; /* Lighter text on hover */
}
}

#articles ul {
    list-style: none;
    padding: 0;
}

#articles ul li {
    margin-bottom: 1rem;
}

#articles ul li a {
    text-decoration: none;
    color: #21A2D3;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

#articles ul li a:hover {
    color: #105270;
}
