/* General Styles */
body, html {
    font-family: Georgia,Times,Times New Roman,serif;
    background-color: #ffffff; /* White background for the main content */
    color: #000000; /* Black text for the main content */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Header styles */
.header {
    width: 100%;
    height: 55px;
    max-width: 1400px;
    text-align: center;
    margin: auto;
    padding: 5px 20px 5px 20px;
    background-color: #262627; /* Black background for the header */
    color: white; /* White text for the header test */
}

/* Top navigation styles */
.top-nav {
    max-width: 1400px;
    width:100%;
    height:40px;
    margin: auto;
    display:flex;
    background-color: #262627;
    justify-content: center;
    padding: 0px 20px 0px 20px;
    color: white; /* White text for the nav */
}

.top-nav ul {
    list-style-type: none;
    margin: 0;
    display:flex;
    padding: 0;
}

.top-nav ul li {
    margin: 0 15px;
}

.top-nav ul li a {
    color: #ffffff; /* white text for the nav links */
    text-decoration: none;
    padding: 10px;
    display: block;
    border-bottom: 2px solid transparent; /* Light blue line underneath */
    transition: color 0.3s, border-bottom 0.3s;
}

.top-nav ul li a:hover {
    color: #999999; /* Slightly darker light blue on hover */
}

.container {
    max-width: 1400px;
    width: 100%;
    margin:auto;
    padding: 0px;
    display: flex;
    object-fit: contain;
}

/* Main Content Styles */
.main {
    flex: 1;
    float: left;
    max-width:1100px;
    width: 100%;
    padding: 10px 0px 10px 0px;
    background-color: #ffffff; /* White background for the main content */
    color: #000000; /* Black text for the main content */
    font-size: 15px;
}

.main_headline {
    flex: 1;
    float: left;
    max-width:500px;
    width: 100%;
    padding: 10px 10px 10px 0px;
    background-color: #ffffff; /* White background for the main content */
    color: #000000; /* Black text for the main content */
    border-right: 1px solid #999999;
    text-decoration: none;
}

.main_headline a img {
    max-width:400px;
    height: 100%;
    object-fit: contain;
    padding: 10px 10px 0px 0px;
}

.main_headline a p {
    font-size:12px;
}

.main_subheadline {
    flex: 1;
    float: left;
    max-width:500px;
    width: 100%;
    padding: 10px 10px 10px 20px;
    background-color: #ffffff; /* White background for the main content */
    color: #000000; /* Black text for the main content */
    font-size: 15px;
    text-decoration: none;
}

.main_subheadline img {
    max-width:200px;
    height: 100%;
    float: left;
    padding: 0px 10px 10px 10px;
}


.headlinelink a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}

.headlinelink a:visited {
    text-decoration: none;
    color: #000000;
    
}
.headlinelink a:hover {
    color: #999999; /* Lighter text on hover */
    text-decoration: none;
}

.headlinelink {
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}

.headlinelink h1 {
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}
    
/* Sidebar styles */
.sidebar {
    flex: 1;
    float: right;
    max-width:300px;
    width: 100%;
    padding: 10px;
    font-size: 15px;
}

.sidebar h2 {
    font-size: 15px;
}

.sidebar a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-top: 2px;
}

.sidebar a:hover {
    color: #999999; /* Lighter text on hover */
}

.sidebar div {
white-space: nowrap;
}

/* Footer Styles */
.footer {
    max-width: 1400px;
    width: 100%;
    margin:auto;
    padding: 20px;
    background-color: #262627; /* Black background for the footer */
    color: white; /* White text for the footer */
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer p {
    margin:auto;
    color: white; /* White text for footer paragraphs */
}

.footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.footer nav ul li {
    margin: 0 10px;
}

.footer nav ul li a {
    color: white; /* White text for footer links */
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer nav ul li a:hover {
    color: #999999; /* Lighter text on hover */
}
}

#articles ul {
    list-style: none;
    padding: 0;
}

#articles ul li {
    margin-bottom: 1rem;
}

#articles ul li a {
    text-decoration: none;
    color: #21A2D3;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

#articles ul li a:hover {
    color: #105270;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
    
/* Sidebar styles */
.score_predictor {
    flex: 1;
    float: right;
    max-width:300px;
    width: 100%;
    padding: 10px;
    font-size: 15px;
}

.score_predictor h2 {
    font-size: 15px;
}

.score_predictor a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}

.score_predictor ul {
    list-style-type: none;
    padding: 0;
}

.score_predictor ul li {
    margin-top: 2px;
}

.score_predictor a:hover {
    color: #999999; /* Lighter text on hover */

.score_predictor div {
white-space: nowrap;
clear: both;
    
}
    
/* Main recommended articles container */
.recommended_articles {
    display: flex; /* Flexbox for side-by-side articles */
    justify-content: space-between; /* Ensures space between the two articles */
    width: 100%; /* Full width for the container */
    margin: 20px 0; /* Margin to separate from other content */
    padding: 20px;
    background-color: #fff; /* White background */
    color: #000; /* Black text */
    font-size: 15px;
    box-sizing: border-box; /* Ensure padding is accounted for in width */
}

/* Individual article container */
.recommended_articles .article {
    display: flex; /* Align image and text side by side */
    align-items: center; /* Center image and text vertically */
    width: 48%; /* Ensure articles take up equal width and fit side by side */
    padding: 10px;
    border-left: 1px solid #ddd; /* Line between image and description */
    box-sizing: border-box; /* Keep padding and borders within the width */
}

.recommended_articles_img {
    max-width:400px;
    height: 100%;
    object-fit: contain;
    padding: 10px 10px 0px 0px;
}
    
/* Remove the left border for the first article */
.recommended_articles .article:first-child {
    border-left: none;
}

/* Image styling within the recommended articles section */
.recommended_articles .article img {
    width: 80px; /* Fixed width for the images */
    height: auto; /* Keep aspect ratio */
    margin-right: 15px; /* Space between the image and the text */
    object-fit: cover; /* Ensures image fits within the width and height */
}

/* Text description styling */
.recommended_articles .description {
    flex-grow: 1; /* Allow the text to take up the remaining space */
    font-size: 14px;
    color: #333; /* Slightly darker text color for readability */
}




