/* General Styles */
body, html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* White background for the main content */
    color: #000000; /* Black text for the main content */
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header styles */
.header {
    width: 100%;
    max-width: 1200px;
    margin:auto;
    text-align: center;
    padding: 10px, 20px 10px, 20px;
    background-color: #262627; /* Black background for the header */
    color: white; /* White text for the header */
}

/* Top navigation styles */
.top-nav {
    max-width: 1200px;
    width:100%;
    margin:auto;
    display:flex;
    background-color: #262627;
    justify-content: center;
    padding: 2px, 20px 2px, 20px;
    color: white; /* White text for the nav */
}

.top-nav ul {
    list-style-type: none;
    margin: 0;
    display:flex;
    padding: 0;
}

.top-nav ul li {
    margin: 0 15px;
    display:flex;
}

.top-nav ul li a {
    color: #ffffff; /* white text for the nav links */
    text-decoration: none;
    padding: 10px;
    display: block;
    border-bottom: 2px solid transparent; /* Light blue line underneath */
    transition: color 0.3s, border-bottom 0.3s;
}

.top-nav ul li a:hover {
    color: #5a9bd3; /* Slightly darker light blue on hover */
    border-bottom: 2px solid #7db8ff; /* Light blue line on hover */
}

.container {
    max-width: 1200px;
    width: 100%;
    margin:auto;
    display: flex;
}

/* Main Content Styles */
.main {
    flex: 1;
    float: left;
    max-width:900px;
    width: 100%;
    padding: 10px;
    background-color: #ffffff; /* White background for the main content */
    color: #000000; /* Black text for the main content */
}

/* Sidebar styles */
.sidebar {
    flex: 1;
    float: right;
    max-width:300px;
    width: 100%;
    padding: 10px;
}

.sidebar h2 {
    color: #7db8ff; /* Light blue text for sidebar links */
    transition: color 0.3s;
}

.sidebar a {
    color: #7db8ff; /* Light blue text for sidebar links */
    transition: color 0.3s;
}

.sidebar a:hover {
    color: #5a9bd3; /* Slightly darker light blue on hover */
}

/* Footer Styles */
.footer {
    max-width: 1200px;
    width: 100%;
    margin:auto;
    padding: 20px;
    background-color: #262627; /* Black background for the footer */
    color: white; /* White text for the footer */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer p {
    margin:auto;
    color: white; /* White text for footer paragraphs */
}

.footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.footer nav ul li {
    margin: 0 10px;
}

.footer nav ul li a {
    color: white; /* White text for footer links */
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer nav ul li a:hover {
    color: #999999; /* Lighter text on hover */
}
